
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExtendUserLabel" data-translate="noon07App.extendUser.home.createOrEditLabel">Create or edit a Extend User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.extendUser.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.extendUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="noon07App.extendUser.setor" for="field_setor">Setor</label>
            <select class="form-control" name="setor" ng-model="vm.extendUser.setor" id="field_setor">
                <option value="BAR" data-translate="noon07App.Setor.BAR">BAR</option>
                <option value="RECEPCAO" data-translate="noon07App.Setor.RECEPCAO">RECEPCAO</option>
                <option value="CAIXA" data-translate="noon07App.Setor.CAIXA">CAIXA</option>
                <option value="GERENCIA" data-translate="noon07App.Setor.GERENCIA">GERENCIA</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="noon07App.extendUser.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.extendUser.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
