
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" data-translate="noon07App.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" hidden>
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="noon07App.cliente.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.cliente.nome" required
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="noon07App.cliente.documento" for="field_documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="field_documento"
                    ng-model="vm.cliente.documento" required
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="noon07App.cliente.telefone" for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone"
                    ng-model="vm.cliente.telefone" required 
                    />
        </div>


        <div ng-if="vm.cliente.id==null">
        <div class="form-group">
            <label>Abrir Comanda</label>
        </div>
        
        <div class="form-group">
            <label class="control-label" for="field_numero">Número</label>
            <input type="number" ng-change="verificanumero()" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.numerocomanda"
                    />
            <p ng-show="vm.numeroindisponivel"><span class="glyphicon glyphicon-remove"></span>Este número já esta em uso!</p>
        
        </div>

        <div class="form-group">
            <label>Tipo de Entrada</label>
            <select class="form-control" ng-model="vm.entrada" ng-options="x as x.nome for x in vm.entradas" ng-required="vm.numerocomanda">
            </select>
        </div>




    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.numeroindisponivel" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
